/* ESTILOS GENERALES */
* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    background-size: auto;
    font-family: 'Bangers', cursive;
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-azul-abstracto-comico_225004-669.jpg?w=740&t=st=1653681047~exp=1653681647~hmac=969af0a1bea92f546c67d9367de5bb841cf3ddb4d4ba77b6bbabf51f3d67c99e");
}

/*TITULO Y BOTON MODO OSCURO*/
h1 {
    border: 1px solid black;
    border-radius: 100px;
    text-align: center;
    font-size: 67px;
    margin: 5px;
    background-color: red;
    color: white;
    letter-spacing: 3px;
}

.venomized {
    position: absolute;
    right: 75px;
    top: 14px;
}

.venomized img {
    width: 55px;
    height: 55px;
    cursor:pointer;
}

/* MODO OSCURO */
body.dark {
    background: #111111;
    background-image: url(/img/fondoVenom.jpg)
}

.dark h1 {
    background-color: black;
    border: white 1px solid;
}

.dark .venomized img {
    border: 1px white solid;
    border-radius: 100%;
}

.dark .tarjeta {
    border: 3px inset white;
}

.dark #mensajeSeleccionar {
    background-color: black;
    color: white;
    border: 3px inset white;
}

.dark #personaje1 {
    border: 3px inset white;
    background-color: white;
    color: black;
}

.dark #personaje2 {
    border: 3px inset white;
    background-color: white;
    color: black;
}

.dark .caracteristicas {
    text-shadow: 0 0 0px;
    background-image: url(/img/telerañasFondo.jpg);
    background-size: contain;
}

.dark #botonLuchar {
    background-color: white;
    cursor:pointer;
}

.dark #botonReset {
    background-color: white;
    cursor:pointer;
}

/* DISEÑO MENSAJE "SELECCIONE UN PERSONAJE" */
#mensajeSeleccionar {
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-right: 5px;
    padding: 15px;
    font-size: 20px;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

/* CONTENEDOR DE PERSONAJES PARA SELECCIONAR (TARJETAS) */
.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenedor img {
    border-radius: 10px;
    margin: 2px;
    width: 255px;
    height: 255px;
}

/* TARJETA DE CADA SUPER */
.tarjeta {
    border: 2px black solid;
    cursor:pointer;
}

/* CONTENEDORES DE PERSONAJES SELECCIONADOS (TARJETAS) */
#contenedorPersonajes {
    display: flex; 
    justify-content: space-around;
    text-align: center;
    margin-top: 45px;
}

/* VISUALIZACION DE CADA PERSONAJE SELECCIONADO */
#personaje1 { 
    display: flex;
    color: white;
    background-color: rgba(255, 0, 0, 0.77);
    border-radius: 5px;
    max-height: 512px;
    max-width: 512px;
    border: 2px solid black;
} 

#personaje1 img {
    max-height: 256px;
    max-width: 256px;
}

#personaje2 { 
    display: flex;
    color: white;
    background-color: rgba(255, 0, 0, 0.77);
    border-radius: 5px;
    max-height: 512px;
    max-width: 512px;
    border: 2px solid black;
} 

#personaje2 img {
    max-height: 256px;
    max-width: 256px;
}

/* CARACTERISTICAS PERSONAJES */ 
.caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    font-size: 25px;
    font: bold 80px;
    text-shadow: 0 4px 0 #41330a;
    letter-spacing: 2.5px /* separar espacio entre letras */
}

/* ESTILO DE BOTONES */ 
#botones {
    display: flex;
    justify-content: center;
    margin: 35px 35px 35px 55px;
}

#botones img {
    width: 35px;
    height: 35px;
    margin: 5px;
    vertical-align: middle; /* para alinear el texto con la imagen en los botones lucha y reiniciar*/
}

#botonLuchar {
    margin-right: 35px;
    margin-bottom: 35px;
    background-color: #f23000;
    padding: 3px 10px 3px 10px;
    border-radius: 2px;
    border: 2px solid black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    cursor:pointer;
}

#botonReset {
    margin-right: 35px;
    margin-bottom: 35px;
    background-color: #f23000;
    padding: 3px 5px 3px 10px;
    border-radius: 2px;
    border: 2px solid black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    cursor:pointer;
}

#quieroMas {
    display: flex;
    margin-left: 200px;
    cursor:pointer;
}

#botonLuchar:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;     
}

#botonReset:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;    
}

#quieroMas:hover {
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;     
}

/* ESTILO DE LA IMAGEN DEL SUPER GANADOR */
#ganador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#ganador img {
    margin: 10px;
    border: black solid 2px;
}

/* EMPATE */
#empate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#empate img {
    height: 512px;
    width: 512px;
} 



